<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EP4 - Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/visits.js"></script>

    <style>
        .brand-logo img {
            margin-left: 15px;
            vertical-align: text-top;
        }
    </style>

</head>
<body>
<nav>
    <div class="nav-wrapper">
        <span class="brand-logo"><img src="images/logoipsum-288.svg">Gymi’s</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/visitas">Visitas</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class="highlight">
        <thead>
        <tr>
            <th>Id</th>
            <th>Local</th>
            <th>DNI</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>