<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EP4 - Home</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/visits.js"></script>

    <style>
        .brand-logo img {
            margin-left: 15px;
            vertical-align: text-top;
        }
    </style>

</head>
<body>
<nav>
    <div class="nav-wrapper">
        <span class="brand-logo"><img src="images/logoipsum-288.svg">Gymi’s</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/visitas">Visitas</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</nav>

<div class="container">

    <div class="row">
        <div class="col s12">
            <h3>Registrar nueva visita</h3>

            <div class="row">
                <div class="input-field col s12 m6">
                    <select id="local">
                        <option value="" disabled selected>Local</option>
                        <option value="La Molina">La Molina</option>
                        <option value="San Borja">San Borja</option>
                        <option value="Miraflores">Miraflores</option>
                    </select>
                    <label>Local</label>
                </div>

                <div class="input-field col s12 m6">
                    <input id="dni" type="text" maxlength="8" class="validate">
                    <label for="dni">DNI</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="date" type="text" class="datepicker validate">
                    <label for="date">Fecha</label>
                </div>

                <div class="input-field col s12 m6">
                    <input id="time" type="text" class="timepicker validate">
                    <label for="time">Hora</label>
                </div>
            </div>

            <div class="row">
                <button id="btn-register" class="btn waves-effect waves-light">Registrar
                    <i class="material-icons right">create</i>
                </button>
            </div>

        </div>
    </div>

    <table class="highlight">
        <thead>
        <tr>
            <th>Id</th>
            <th>Local</th>
            <th>DNI</th>
            <th>Fecha</th>
            <th>Hora</th>
        </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>
</body>
</html>